# Investigate the Data

In [10]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
rtr_data = pd.read_csv('rtr_clean.csv')

In [5]:
rtr_data.drop('Unnamed: 0', axis=1, inplace=True)
rtr_data.head()

,age,body_type,bust_size,category,fit,height,item_id,rating,rented_for,review_date,review_summary,review_text,size,user_id,weight,review_datetime,band_size,cup_size
0,28.0,hourglass,34d,romper,fit,68.0,2260466,10.0,vacation,"April 20, 2016",So many compliments!,An adorable romper! Belt and zipper were a lit...,14,420272,137.0,2016-04-20,34.0,d
1,36.0,straight & narrow,34b,gown,fit,66.0,153475,10.0,other,"June 18, 2013",I felt so glamourous!!!,I rented this dress for a photo shoot. The the...,12,273551,132.0,2013-06-18,34.0,b
2,116.0,NaN,NaN,sheath,fit,64.0,1063761,10.0,party,"December 14, 2015",It was a great time to celebrate the (almost) ...,This hugged in all the right places! It was a ...,4,360448,NaN,2015-12-14,NaN,NaN
3,34.0,pear,34c,dress,fit,65.0,126335,8.0,formal affair,"February 12, 2014",Dress arrived on time and in perfect condition.,I rented this for my company's black tie award...,8,909926,135.0,2014-02-12,34.0,c
4,27.0,athletic,34b,gown,fit,69.0,616682,10.0,wedding,"September 26, 2016",Was in love with this dress !!!,I have always been petite in my upper body and...,12,151944,145.0,2016-09-26,34.0,b

In [6]:
rtr_data.describe()

,age,height,item_id,rating,size,user_id,weight,band_size
count,191584.000000,191867.000000,1.925440e+05,192462.000000,192544.000000,192544.000000,162562.000000,174133.000000
mean,33.871017,65.310621,1.045684e+06,9.092371,12.245175,499494.100149,137.391709,34.201271
std,8.058083,2.663480,8.053148e+05,1.430044,8.494877,289059.719328,21.899967,1.745246
min,0.000000,54.000000,1.233730e+05,2.000000,0.000000,9.000000,50.000000,28.000000
25%,29.000000,63.000000,1.950760e+05,8.000000,8.000000,250654.250000,123.000000,34.000000
50%,32.000000,65.000000,9.483960e+05,10.000000,12.000000,499419.000000,135.000000,34.000000
75%,37.000000,67.000000,1.678888e+06,10.000000,16.000000,750974.000000,148.000000,36.000000
max,117.000000,78.000000,2.966087e+06,10.000000,58.000000,999997.000000,300.000000,48.000000

In [8]:
weight_above_mean = rtr_data.loc[rtr_data.weight>rtr_data.weight.median()]
weight_above_mean.describe()

,age,height,item_id,rating,size,user_id,weight,band_size
count,69984.000000,69963.000000,7.015400e+04,70134.000000,70154.000000,70154.000000,70154.000000,65181.000000
mean,34.538523,66.338608,1.037025e+06,9.056749,17.507997,498300.936112,156.242039,35.097467
std,8.092659,2.607464,7.953006e+05,1.441387,7.645520,287163.815629,19.382975,1.687062
min,0.000000,54.000000,1.233730e+05,2.000000,0.000000,9.000000,136.000000,28.000000
25%,29.000000,64.000000,1.992310e+05,8.000000,12.000000,254236.000000,143.000000,34.000000
50%,33.000000,66.000000,9.475840e+05,10.000000,16.000000,495914.500000,150.000000,36.000000
75%,38.000000,68.000000,1.661761e+06,10.000000,20.000000,746802.500000,165.000000,36.000000
max,117.000000,76.000000,2.966087e+06,10.000000,58.000000,999997.000000,300.000000,48.000000

In [9]:
weight_below_mean = rtr_data.loc[rtr_data.weight<rtr_data.weight.median()]
weight_below_mean.describe()

,age,height,item_id,rating,size,user_id,weight,band_size
count,78546.000000,78503.000000,7.870300e+04,78673.000000,78703.000000,78703.000000,78703.000000,73750.000000
mean,33.583327,64.246487,1.073752e+06,9.122774,6.306011,497584.737520,121.005451,33.254373
std,8.148653,2.324129,8.130254e+05,1.420702,4.081294,290958.564025,8.336919,1.252001
min,0.000000,54.000000,1.233730e+05,2.000000,0.000000,25.000000,50.000000,28.000000
25%,28.000000,63.000000,2.274420e+05,8.000000,4.000000,243534.500000,115.000000,32.000000
50%,32.000000,64.000000,9.854990e+05,10.000000,5.000000,499398.000000,122.000000,34.000000
75%,37.000000,66.000000,1.697200e+06,10.000000,8.000000,751499.500000,128.000000,34.000000
max,117.000000,76.000000,2.966087e+06,10.000000,51.000000,999994.000000,134.000000,42.000000

## Two sample $t$-tests

### samples based on weight strictly above or below the mean weight

In [12]:
# We are testing H_0: Mean rating for users with weight>mean weight is equal to mean rating for users with weight<mean weight
stats.ttest_ind(weight_below_mean.rating, weight_above_mean.rating, axis=0, equal_var=False, nan_policy='omit')

Ttest_indResult(statistic=8.880402099841763, pvalue=6.734837106616535e-19)

### samples based on top 500 items vs 500 items above $75^\textrm{th}$ percentile
(1499 items are above the $75^\textrm{th}$ percentile)

In [14]:
df = rtr_data.groupby(['item_id', 'user_id']).count()
df.loc[df.rating > 1]

                 age  body_type  bust_size  category  fit  height  rating  \
item_id user_id
123793  300403     2          2          2         2    2       2       2
126335  148459     2          2          2         2    2       2       2
        750308     2          2          0         2    2       2       2
131533  805713     2          2          2         2    2       2       2
132135  720559     0          0          2         2    2       2       2
136110  306117     2          2          0         2    2       2       2
141761  19507      2          2          2         2    2       2       2
144051  496417     2          2          2         2    2       2       2
144727  119853     2          2          2         2    2       2       2
149655  456079     2          2          2         2    2       2       2
164593  680224     2          2          2         2    2       2       2
180843  77147      2          2          2         2    2       2       2
187984  430673     2          2          2         2    2       2       2
200269  878951     2          2          2         2    2       2       2
309634  378662     2          2          2         2    2       2       2
357231  691468     2          2          2         2    2       2       2
376219  408192     2          0          2         2    2       2       2
408994  691468     2          2          2         2    2       2       2
573593  215411     2          2          2         2    2       2       2
597314  639898     2          2          2         2    2       2       2
624407  819883     2          2          2         2    2       2       2
683251  691468     2          2          2         2    2       2       2
789011  76612      2          2          2         2    2       2       2
        106915     2          2          2         2    2       2       2
        165402     2          2          2         2    2       2       2
        221624     2          2          2         2    2       2       2
        370175     2          2          2         2    2       2       2
        576202     2          2          2         2    2       2       2
        587342     2          2          2         2    2       2       2
        966605     2          2          0         2    2       2       2
...              ...        ...        ...       ...  ...     ...     ...
1707988 758927     2          2          2         2    2       2       2
        870166     2          2          2         2    2       2       2
        980350     2          2          2         2    2       2       2
        980438     2          2          2         2    2       2       2
1729232 766295     2          2          2         2    2       2       2
1773535 691468     2          2          2         2    2       2       2
1788074 691468     2          2          2         2    2       2       2
1794834 200837     2          2          2         2    2       2       2
        497902     2          2          2         2    2       2       2
        576202     2          2          2         2    2       2       2
        597154     2          2          0         2    2       2       2
1819243 691468     2          2          2         2    2       2       2
1821947 691468     2          2          2         2    2       2       2
1861964 691468     2          2          2         2    2       2       2
1889597 438690     2          2          2         2    2       2       2
1939748 372750     2          2          2         2    2       2       2
1944337 691468     2          2          2         2    2       2       2
1962198 307672     2          2          2         2    2       2       2
1968677 75034      2          2          2         2    2       2       2
1980086 319591     2          2          0         2    2       2       2
2231364 12161      2          2          2         2    2       2       2
2524821 776484     2          2          2         2    2       2       2
2566975 365013     2          2          2         2    2       2       2
2577550 691468     2          2          2         2    2       2       2
2620667 612807     2          2          2         2    2       2       2
        691468     2          2          2         2    2       2       2
2628747 691468     2          2          2         2    2       2       2
2743152 248335     2          2          2         2    2       2       2
2760153 408192     2          0          2         2    2       2       2
2886469 278571     2          2          2         2    2       2       2

                 rented_for  review_date  review_summary  review_text  size  \
item_id user_id
123793  300403            2            2               2            2     2
126335  148459            2            2               2            2     2
        750308            2            2               2            2     2
131533  805713            2            2               2            2     2
132135  720559            2            2               2            2     2
136110  306117            2            2               2            2     2
141761  19507             2            2               2            2     2
144051  496417            2            2               2            2     2
144727  119853            2            2               2            2     2
149655  456079            2            2               2            2     2
164593  680224            2            2               2            2     2
180843  77147             2            2               2            2     2
187984  430673            2            2               2            2     2
200269  878951            2            2               2            2     2
309634  378662            2            2               2            2     2
357231  691468            2            2               2            2     2
376219  408192            2            2               2            2     2
408994  691468            2            2               2            2     2
573593  215411            2            2               2            2     2
597314  639898            2            2               2            2     2
624407  819883            2            2               2            2     2
683251  691468            2            2               2            2     2
789011  76612             2            2               2            2     2
        106915            2            2               2            2     2
        165402            2            2               2            2     2
        221624            2            2               2            2     2
        370175            2            2               2            2     2
        576202            2            2               2            2     2
        587342            2            2               2            2     2
        966605            2            2               2            2     2
...                     ...          ...             ...          ...   ...
1707988 758927            2            2               2            2     2
        870166            2            2               2            2     2
        980350            2            2               2            2     2
        980438            2            2               2            2     2
1729232 766295            2            2               2            2     2
1773535 691468            2            2               2            2     2
1788074 691468            2            2               2            2     2
1794834 200837            2            2               2            2     2
        497902            2            2               2            2     2
        576202            2            2               2            2     2
        597154            2            2               2            2     2
1819243 691468            2            2               2            2     2
1821947 691468            2            2               2            2     2
1861964 691468            2            2               2            2     2
1889597 438690            2            2               2            2     2
1939748 372750            2            2               2            2     2
1944337 691468            2            2               2            2     2
1962198 307672            2            2               2            2     2
1968677 75034             2            2               2            2     2
1980086 319591            2            2               2            2     2
2231364 12161             2            2               2            2     2
2524821 776484            2            2               2            2     2
2566975 365013            2            2               2            2     2
2577550 691468            2            2               2            2     2
2620667 612807            2            2               2            2     2
        691468            2            2               2            2     2
2628747 691468            2            2               2            2     2
2743152 248335            2            2               2            2     2
2760153 408192            2            2               2            2     2
2886469 278571            2            2               2            2     2

                 weight  review_datetime  band_size  cup_size
item_id user_id
123793  300403        0                2          2         2
126335  148459        2                2          2         2
        750308        2                2          0         0
131533  805713        2                2          2         2
132135  720559        0                2          2         2
136110  306117        0                2          0         0
141761  19507         0                2          2         2
144051  496417        0                2          2         2
144727  119853        2                2          2         2
149655  456079        2                2          2         2
164593  680224        2                2          2         2
180843  77147         2                2          2         2
187984  430673        2                2          2         2
200269  878951        0                2          2         2
309634  378662        2                2          2         2
357231  691468        2                2          2         2
376219  408192        2                2          2         2
408994  691468        2                2          2         2
573593  215411        0                2          2         2
597314  639898        2                2          2         2
624407  819883        2                2          2         2
683251  691468        2                2          2         2
789011  76612         2                2          2         2
        106915        2                2          2         2
        165402        2                2          2         2
        221624        2                2          2         2
        370175        2                2          2         2
        576202        2                2          2         2
        587342        2                2          2         2
        966605        2                2          0         0
...                 ...              ...        ...       ...
1707988 758927        2                2          2         2
        870166        2                2          2         2
        980350        2                2          2         2
        980438        2                2          2         2
1729232 766295        2                2          2         2
1773535 691468        2                2          2         2
1788074 691468        2                2          2         2
1794834 200837        2                2          2         2
        497902        2                2          2         2
        576202        2                2          2         2
        597154        0                2          0         0
1819243 691468        2                2          2         2
1821947 691468        2                2          2         2
1861964 691468        2                2          2         2
1889597 438690        2                2          2         2
1939748 372750        2                2          2         2
1944337 691468        2                2          2         2
1962198 307672        2                2          2         2
1968677 75034         2                2          2         2
1980086 319591        0                2          0         0
2231364 12161         2                2          2         2
2524821 776484        0                2          2         2
2566975 365013        2                2          2         2
2577550 691468        2                2          2         2
2620667 612807        0                2          2         2
        691468        2                2          2         2
2628747 691468        2                2          2         2
2743152 248335        2                2          2         2
2760153 408192        2                2          2         2
2886469 278571        2                2          2         2

[264 rows x 16 columns]

In [18]:
rtr_data.duplicated().sum()

189

In [20]:
rtr_data[['item_id', 'user_id', 'review_summary']].duplicated().sum()

221